@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Spartan';
}

body {
  background-color:rgb(1, 1, 24);
}

/* header */
#header {
  background-color: darkblue;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerBtn {
  width: 100px;
  height: 50px;
  background: none;
  border: none;
  font-weight: 600;
  color: white;
  transition: 0.3s;
}

.headerBtn:hover{
  background: black;
}

/* div */
.root, .detail-root {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
  align-items: center;
  padding-top: 10px;
}

.froot {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 570px;
  margin: auto;
  padding-top: 20px;

}

.subfroot{
  display: flex;
  align-items: center;
  justify-content: center;
}

.transaction {
  padding: 10px 20px;
  background: rgba(138, 165, 2, 0.7);
  border-radius: 10px;
  margin: 10px 0;
  width: 550px;
  color: white;
  font-weight: 100;
}

.transaction.expense {
  background: rgba(145, 2, 4, 0.6);
}

.details{
  width: 600px;
  margin-top: 100px;
  /* margin: 200px auto 10px; */
}

.buttons{
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 570px;
  padding: 20px 0px;
}

.centerSection{
  margin: auto;
  width: 500px;
  margin-top: 200px;
  text-align: center;
}

.centerSection h1{
  font-size: 100px;
  margin: 50px 0;
}

.centerSection p{
  margin: 30px 0;
}


/* texts */
.total {
  font-weight: 600;
  color: yellow;
}

.total.negative {
  color: red;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 5px 0px;
  color: white;
}


/* buttons and filters */
.button { 
  width: 150px;
  height: 45px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color:rgba(13, 17, 251, 0.5);
  cursor: pointer;
  transition: 0.5s;
  color: white;
  margin: 0px 1px;
}

.button:hover {
  background-color: rgb(13, 17, 251);
}

.viewBtnBeta {
  background: rgba(244, 255, 45, 0.7);
  border-radius: 20px;
  width: 125px;
  height: 35px;
  float: right;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  color: black;
  font-weight: 600;
}

.viewBtnBeta:hover {
 background: rgb(244, 255, 45);
}


#delete-btn, #back-btn{
  background-color: blue;
  color: white;
  border-radius: 10px;
  width: 125px;
  height: 35px;
  border: none;
  cursor: pointer;
}

#delete-btn{
  background-color: orangered;
  width: 150px;
}

select {
  width: 140px;
  height: 40px;
  background-color:rgba(13, 17, 251, 0.5);
  border-radius: 20px;
  color: white;
  border: none;
  padding: 10px;
}


/* sidebar */
#sidebar{
  position: fixed;
  width: 500px;
  height: 450px;
  background-color: rgba(38, 181, 247, 0.85);
  left: -540px;
  transition: 0.5s;
  color: black;
  padding: 20px;
  margin-top: 70px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#sideform {
  display: flex;
  flex-direction: column;
}

#sideform *{
  margin: 10px 0;
}

#sideform button{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}

#sideform input, textarea{
  border-radius: 10px;
  background-color: lightblue;
  border: none;
  padding: 10px;
}
#sideform input{
  width: 300px;
  height: 30px; 
}

#sideform textarea{
  min-width: 150px;
  width: 500px;
  max-width: 500px;
  min-height: 70px;
  height: 80px;
  max-height: 100px;
}

#sidebar h1, #side-details h1{
  font-size: 80px;
}

#sidebar.active{
  left:0;
}

#crtype{
  background-color: black;
}


/* details sidebar */
#side-details{
  position: fixed;
  width: 500px;
  height: 450px;
  background-color: rgba(38, 181, 247, 0.85);
  right: -540px;
  /* left: -540px; */
  transition: 0.5s;
  color: black;
  padding: 20px;
  margin-top: 400px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#side-details.active{
  right: 0px;
}